*{
    margin: 0;
    padding: 0;
}
.body {
    background-color: #ededed;
}
.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 700px;   
}
.menu {
    display: flex;
    justify-content: end;
}
ul li {
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    margin: 10px 15px;
}
ul li a {
   
    text-decoration: none;
    color: #000;
}
.prom h3 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 15%;
}
.prom p {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10%;
}
