* {
    padding: 0;
    margin: 0;
}

.center {
    width: 1400px;
    margin: 20% auto ;
    background: linear-gradient(to right, rgb(252, 252, 252) , rgb(198, 223, 231))
}

.container {
    display: flex;
    width: 1400px;
    height: 400px;
    border: 1px solid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(235, 228, 228);
}

.avatar1 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(177, 231, 170);
    overflow: hidden;
}

.avatar1 .body1 {
    position: absolute;
    width: 300px;
    height: 300px;
}

.avatar1 .body1 img {
    width: 100%;
    height: 100%;
} 

.avatar1 .clothes {
    position: absolute;
    top: 190px;
    right: 5px;
    width: 300px;
    height: 117px;
}

.avatar1 .clothes img {
    width: 100%;
    height: 100%;
}

.avatar1 .eyes {
    position: absolute;
    top: 80px;
    right: 105px;
    width: 85.6px;
    height: 21.4px;
}

.avatar1 .eyes img {
    width: 100%;
    height: 100%;
}

.avatar1 .nose {
    position: absolute;
    top: 80px;
    right: 140px;
    width: 21.4px;
    height: 53.5px;
}

.avatar1 .nose img {
    width: 100%;
    height: 100%;
} 

.avatar1 .lips {
    position: absolute;
    top: 133px;
    right: 122px;
    width: 53.5px;
    height: 32.1px;
}

.avatar1 .lips img {
    width: 100%;
    height: 100%;
}

.avatar1 .hair {
    position: absolute;
    top: -10px;
    right: 75px;
    width: 150px;
    height: 96.3px;
}

.avatar1 .hair img {
    width: 100%;
    height: 100%;
}

.avatar1 .glasses {
    position: absolute;
    top: 62px;
    right: 90px;
    width: 128.4px;
    height: 53.5px;
}

.avatar1 .glasses img {
    width: 100%;
    height: 100%;
}

.avatar2 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(60, 195, 219);
    overflow: hidden; 
}

.avatar2 .body2 {
    position: absolute;
    width: 300px;
    height: 300px;
}

.avatar2 .body2 img {
    width: 100%;
    height: 100%;
} 

.avatar2 .clothes2 {
    position: absolute;
    top: 185px;
    width: inherit;
    height: 115px;
} 

.avatar2 .clothes2 img {
    width: 100%;
    height: 100%;
}   

 .avatar2 .eyes2 {
    position: absolute;
    top: 85px;
    right: 105px;
    width: 90px;
    height: 40px;
}

 .avatar2 .eyes2 img {
    width: 100%;
    height: 100%;
}

 .avatar2 .nose2 {
    position: absolute;
    top: 85px;
    right: 125px;
    width: 40px;
    height: 75px;
} 

 .avatar2 .nose2 img {
    width: 100%;
    height: 100%;
}  

 .avatar2 .lips2 {
    position: absolute;
    top: 150px;
    right: 107px;
    width: 80px;
    height: 50px;
} 

  .avatar2 .lips2 img {
    width: 100%;
    height: 100%;
} 

 .avatar2 .hair2 {
    position: absolute;
    top: -5px;
    right: 78px;
    width: 143px;
    height: 90px; 
} 

.avatar2 .hair2 img {
    width: 100%;
    height: 100%;
}  

.avatar3 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(189, 62, 53);
    /* overflow: hidden; */
}

.avatar3 .body3 {
    position: absolute;
    width: 300px;
    height: 300px;
}

.avatar3 .body3 img {
    width: 100%;
    height: 100%;
} 

.avatar3 .clothes3 {
    position: absolute;
    top: 188px;
    width: 300px;
    height: 112px;
}

.avatar3 .clothes3 img {
    width: 100%;
    height: 100%;
} 

.avatar3 .eyes3 {
    position: absolute;
    top: 88px;
    right: 100px;
    width: 100px;
    height: 40px;
}

.avatar3 .eyes3 img {
    width: 100%;
    height: 100%;
} 

.avatar3 .nose3 {
    position: absolute;
    top: 85px;
    right: 128px;
    width: 40px;
    height: 65px;
}

.avatar3 .nose3 img {
    width: 100%;
    height: 100%;
}  

.avatar3 .lips3 {
    position: absolute;
    top: 140px;
    right: 110px;
    width: 80px;
    height: 60px;
}

.avatar3 .lips3 img {
    width: 100%;
    height: 100%;
} 

.avatar3 .hair3 {
    position: absolute;
    top: 0px;
    right: 75px;
    width: 150px;
    height: 85px;
}

.avatar3 .hair3 img {
    width: 100%;
    height: 100%;
} 

.avatar3 .glasses3 {
    position: absolute;
    top: 65px;
    right: 70px;
    width: 160px;
    height: 90px;
}

.avatar3 .glasses3 img {
    width: 100%;
    height: 100%;
}

.avatar4 {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(39, 39, 36);
    overflow: hidden;
}

.avatar4 .body4 img {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 27.5%;
    bottom: 0%;
    width: 240px;
    height: 240px;
}

.avatar4 .clothes4 img {
    position: absolute;
    top: 72.5%;
    right: 10%;
    left: 10%;
    width: 240px;
    height: 105px;
}

.avatar4 .eyes4 img {
    position: absolute;
    top: 47%;
    right: 37.5%;
    left: 37.5%;
    width: 75px;
    height: 30px;
}

.avatar4 .nose4 img {
    position: absolute;
    top: 140px;
    left: 137px;
    right: 140px;
    width: 30px;
    height: 45px;
}
  
.avatar4 .hair4 img{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 270px;
    height: 290px;
}

.avatar4 .beard4 img {
    position: absolute;
    top: 56%;
    right: 27.5%;
    width: 135px;
    height: 120px;
}

.avatar4 .lips4 img{
    position: absolute;
    top: 60%;
    left: 39%;
    width: 65px;
    height: 50px;
}






  



