* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.btn__primary {
  background-color: #00AFDB;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  padding: 18px 45px;
}

.p100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.nav {
  background-color: #000;
  padding: 25px 0;
}

.nav .container {
  width: 70%;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  color: #ccc;
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.promo {
  background-image: url(/images/bg2.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  color: #fff;
  text-align: center;
}

.promo .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.promo__content h2 {
  font-size:  64px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.promo__content p {
  width: 50%;
  line-height: 26px;
  margin: auto;
  margin-bottom: 30px;
}

.promo__socials {
  display: flex;
  list-style: none;
  width: 170px;
  justify-content: space-between;
}

.idea .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.idea__content {
  width: 40%;
}

.idea__content h2 {
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.idea__content p {
  line-height: 24px;
  margin-bottom: 30px;
}

.idea2 .container {
  flex-direction: row-reverse;
}

.idea2 .idea__content {
  width: 50%;
}

.community {
  background-color: #f5f6f7;
  padding: 80px;
  overflow: hidden; 
}

.community__about {
  width: 30%;
  text-align: center;
}

.community .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community__about h3 {
  font-style: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
}

.community__about p {
  line-height: 24px;
  color: #4E4E4E;
}

.community__slider {
  width: 60%;
  position: relative;
  height: 300px;
}

.community__slider_btns {
  text-align: right;
  font-weight: bold;
  color: #373737;
  margin-bottom: 20px;
}

.community__slider_btns button {
  bottom: 0;
  background-color: transparent;
  width: 14px;
  height: 14px;

  background-image: url(/images/ico_arrow.png);
  background-repeat: no-repeat;
  background-position: center;

  vertical-align: 1px;
  margin: 0 10px;
  cursor: pointer;
}

.community__slider_btns button.next {
    transform: rotate(180deg);
}

.community__slider_list {
  display: flex;
  list-style: none;
  overflow: hidden;
  position: absolute;
}

.community__slider_list li {
  flex: none;
}

.community__slider_list li:not(:last-child) {
  margin-right: 30px;
}

.download {
  text-align: center;
  background-color: #F5F6F7;
  padding: 120px;
}

.download h2 {
  margin-bottom: 30px;
}

.download p {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.download__btns button {
  display: inline-flex;
  padding: 0 0 0 20px;
  align-items: center;
}

.download__btns button:after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;

  margin-left: 20px;

  background-image: url(/images/ico_apple.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #009CC2;
}

.download__btns button:first-child {
  margin-right: 30px;
}

.download__btns button:after:last-child {
  background-image: url(/images/ico_andr.png);
}

.footer {
  background-color: #000;
  padding: 60px;
}

.footer .container {
  min-width: 1280px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav,
.footer__logo,
.footer__copy {
  width: 33.3%;
  flex: none;
}

.footer__nav {
  display: flex;
  list-style: none;
}

.footer__nav li {
  display: flex;
  align-items: center;
}

.footer__nav li:not(:last-child)::after {
  content: '';
  display: block;
  width: 2px;
  height: 8px;
  background-color: #4e4e4e;
  margin: 0 15px;
}

.footer__nav a {
  color: #fff;
  text-decoration: none;
}

.footer__logo {
  text-align: center;
}

.footer__copy {
  color: #818181;
  text-align: right;
}

.signup_name {
  background-image: url(/images/bg1.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  color: #fff;
  text-align: center;
}
.signup_name h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 10%;
}

.form.form_mail {
  width: 400px;
}
.input_mail {
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  width: 340px;
  margin: auto;
}
.btn_primary2 {
  background-color: #00afdb;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 45px;
  margin-right: -56px;
  border: none;
}
.send_E {
  padding: 0px 50px 0 5px;
  margin-left: -35px;
  font-size: 16px;
  color: #373737;
  height: 48px;
  width: 45%;
  border: none;
}
